<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Users DB</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <h3 class="navbar-brand col-md-3 col-lg-2 mr-3 px-xxl-1" >
            <div id="navBarInfo">
            </div>
        </h3>
        <a class="logout" style="color: grey; text-decoration: none" href="/logout">Logout</a>
    </div>
</nav>
<div style="margin-bottom: 10px">
    <div class="alert alert-danger" th:if="${param.error}">
        <h2 th:text="${msg}"></h2>
    </div>
</div>

<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin
        </button>
        <button class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">User
        </button>
    </div>

    <div style="width:100%" class="tab-content " id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
             aria-labelledby="v-pills-admin    -tab">

            <h2>Admin control panel</h2>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="table-tab" data-bs-toggle="tab" data-bs-target="#table"
                            type="button" role="tab" aria-controls="table" aria-selected="true">Users table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="newuser-tab" data-bs-toggle="tab" data-bs-target="#newuser"
                            type="button" role="tab" aria-controls="newuser" aria-selected="false">New User
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            <h5><b>All users</b></h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody class="list-users" id="list-users">
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade dialog-centered" id="newuser" role="tabpanel" aria-labelledby="newuser-tab">
                    <div class="card-header">
                        <h5><b> Add new user</b></h5>
                    </div>
                    <div style="margin: auto; width: 30%;">
                        <h6 style="text-align: center; display: none;" id="errorCreate" class="alert alert-danger"></h6>
                    </div>

                    <table class="table">
                        <form class="was-validated" id="createUserPage">
                            <tr align="center">
                                <td>
                                    <label for="firstName">First name</label>
                                </td>
                            </tr>
                            <tr align="center">
                                <td>
                                    <input type="text"
                                           style="width: 30%"
                                           id="firstName"
                                           class="form-control"
                                           name="firstName"
                                           placeholder="First name"
                                           required>
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <label for="lastName">Last name</label>
                                </td>
                            </tr>
                            <tr align="center">
                                <td>
                                    <input type="text"
                                           style="width: 30%"
                                           class="form-control"
                                           id="lastName"
                                           name="lastName"
                                           placeholder="Last name"
                                           required/>
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <label for="password">Password</label>
                                </td>
                            </tr>
                            <tr align="center">
                                <td>
                                    <input type="password"
                                           style="width: 30%"
                                           class="form-control"
                                           id="password"
                                           name="password"
                                           placeholder="Password"
                                           autocomplete="on"
                                           required/>
                                </td>
                            </tr>
                            <tr align="center">
                                <td colspan="2">
                                    <fieldset>
                                        <b>Authority</b>

                                        <select id="select-roles"
                                                style="width: 30%"
                                                class="form-select"
                                                name="roles"
                                                multiple
                                                size="2">
                                        </select>

                                    </fieldset>
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <button class="btn btn-success" id="createUser" value="Add new user">
                                        Add new user
                                    </button>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
            <div class="block">
                <h2>User information-page</h2>
                <div class="tab-content" id="accountTabContent">
                    <div class="tab-pane fade show active" id="tableAccount" role="tabpanel"
                         aria-labelledby="table-tab">
                        <div class="card" style="width: 100%;">
                            <div class="card-header">
                                All users
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <table class="table table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody id="userInfoPage">
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal to Edit -->
<div class="modal fade "
     id="editUser"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="editUserLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserLabel">
                    Edit
                    user</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body col align-self-center">
                <table>
                    <form>

                        <tr align="center">
                            <td>
                                <b>ID</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input readonly
                                       class="form-control-plaintext"
                                       type="number"
                                       placeholder="ID"
                                       id="userId"/>
                            </td>
                        </tr>

                        <tr align="center">
                            <td>
                                <b>First name</b>
                            </td>
                        </tr>

                        <tr align="center">
                            <td>
                                <input type="text"
                                       class="form-control"
                                       placeholder="First Name"
                                       id="edit-firstName"/>
                            </td>
                        </tr>

                        <tr align="center">
                            <td>
                                <b>Last name</b>
                            </td>
                        </tr>
                        <tr align="center">
                            <td>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Last Name"
                                       id="edit-lastName"/>
                            </td>
                        </tr>

                        <tr align="center">
                            <td>
                                <b>Password</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password"
                                       class="form-control"
                                       id="edit-password"
                                       autocomplete="on">
                            </td>
                        </tr>

                        <tr align="center">
                            <td colspan="2">
                                <fieldset>
                                    <b>Authority</b>

                                    <select id="edit-roles"
                                            class="form-select"
                                            name="roles"
                                            multiple
                                            size="2">
                                    </select>

                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button id="saveUserButton"
                                            class="btn btn-primary ">
                                        Edit
                                    </button>
                                </div>
                            </td>
                        </tr>

                    </form>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal to Delete -->
<div class="modal fade "
     id="deletUser"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="deletUserLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="deletUserLabel">
                    Delete user</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body col align-self-center">
                <table>
                    <form>

                        <tr align="center">
                            <td>
                                <b>ID</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input disabled
                                       readonly
                                       class="form-control-plaintext"
                                       type="number"
                                       placeholder="ID"
                                       id="delUserid"/>
                            </td>
                        </tr>

                        <tr align="center">
                            <td>
                                <b>First name</b>
                            </td>
                        </tr>

                        <tr align="center">
                            <td>
                                <input disabled
                                       type="text"
                                       class="form-control"
                                       placeholder="First Name"
                                       id="del-firstName"/>
                            </td>
                        </tr>

                        <tr align="center">
                            <td>
                                <b>Last name</b>
                            </td>
                        </tr>
                        <tr align="center">
                            <td>
                                <input disabled
                                       type="text"
                                       class="form-control"
                                       placeholder="Last Name"
                                       id="del-lastName"/>
                            </td>
                        </tr>

                        <tr align="center">
                            <td>
                                <b>Password</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input disabled
                                       type="password"
                                       class="form-control"
                                       id="del-password"
                                       autocomplete="on">
                            </td>
                        </tr>

                        <tr align="center">
                            <td colspan="2">
                                <fieldset>
                                    <b>Authority</b>
                                    <input disabled
                                           type="text"
                                           class="form-control"
                                           id="del-userRoles">

                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button id="delUserButton"
                                            class="btn btn-danger">
                                        Delet
                                    </button>
                                </div>
                            </td>
                        </tr>

                    </form>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="/static/js/showContent.js"></script>
<script src="/static/js/update.js"></script>
<script src="/static/js/delete.js"></script>
<script src="/static/js/create.js"></script>
<script src="/static/js/showUserInfo.js"></script>

</body>
</html>